<!-- Header -->
<%- include("partials/header") %> 
</head>

<body>

  <!-- Navbar -->
  <%- include('partials/navbar') %>


  <div class="container">
    <form action="/admin/booklists/update/<%= books._id %> " method="post" class="col-lg-7 mt-5">
        <h1 class="mb-4">Update Book</h1>
        <div class="form-floating mt-3">
            <input type="text" name="name" class="form-control" placeholder="Email@gmail" value="<%= books.name %> ">
            <label for="name">Book Name</label>
        </div>
        <div class="form-floating mt-3">
            <input type="text" name="bookid" class="form-control" placeholder="Email@gmail" value="<%= books.bookid %> ">
            <label for="name">Book Id</label>
        </div>
        <div class="form-floating mt-3">
            <input type="text" name="author" class="form-control" placeholder="Email@gmail" value="<%= books.author %> ">
            <label for="name">Author</label>
        </div>
        <div class="form-floating mt-3 mb-3">
            <input type="text" name="genre" class="form-control" placeholder="Email@gmail" value="<%= books.genre %> ">
            <label for="name">Genere</label>
        </div>

        <button type="submit" class="btn btn-success p-3 mt-3 w-100">Update</button>
    </form>
</div>
</body>
</html>